/venv/
/.idea/
/workspace.xml
/shelf/
/__pyache__/
secrets.json
db.sqlite3
/joinInfo/migrations/
/joinResult/migrations/
/login/migrations/
/media/
/media
/notice/migrations/
/people/migrations/
/homepage/migrations/
/activity/migrations/
/application/migrations/
/myvenv/
/makers/migrations