* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
    
body {
    background-color: black; 
    color: white;
}

.modal_unavailable{
    position:fixed;
    display:none;
    
    justify-content: center;
    top:0;
    left:0;


    width:100vw;
    height:100vh;


    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);

    z-index: 60;
    
}

.imgWagi {
    width: 230px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-box1{
    position:absolute;
    top:50%;  
    left:50%;
    width:500px;  
    height:300px;  
    
    text-align: center;

    background-color: #79809F;
    
    border-radius: 20px; 
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 

    transform:translate(-50%, -50%); 
    color: black;
}

.modal-content1 {
    /*
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    width: 500px;
    height: 200px;
    margin-top: 72px;
}

.email {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 333px;
    height: 55px;
    border-radius: 17px;
    z-index: 10;
    background-color: rgb(255, 255, 255, 0.58);
}

.out_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 76%);
    width: 330px;
    height: 55px;
    border-radius: 17px;
    transition: all 1s;
    line-height: 55px;
    text-align: center;
    z-index:9;
    background-color: rgb(255, 255, 255, 0.58);
    opacity:0;
}

.out_text span{
    border: 0;
    font-size: 17px;
    width: 310px;
    height: 53px;
    outline: none;
    float: left;
    padding-left: 20px;
    margin: 0;
    text-align: left;
    border-radius: 17px;
    background-color:rgb(255, 255, 255, 0);
}

.out_text.on {
    transform: translate(-50%, 0);
    background-color: rgb(255, 255, 255);
    opacity: 1;
}


.input_email{
    border: 0;
    font-size: 17px;
    width: 310px;
    height: 53px;
    outline: none;
    float: left;
    padding-left: 20px;
    margin: 0;
    text-align: left;
    border-radius: 17px;
    background-color:rgb(255, 255, 255, 0);
}

.up {
    position: relative;
    display: none;

    width: 350px;
    height: 55px;

    top: 62px;
    left: 72px;

    
    border-radius: 15px;
}

.up_message {
    position: relative;

    font-size: 17px;
    margin-top: auto;
    margin-left: 51px;
    line-height: 55px;
}

#close-modal {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    outline: none;
    border: 0;
    border-radius: 3px;
    background-color: white;
    font-weight: bold;
}

@media (max-width: 450px) {

.modal_unavailable{
    position:fixed;
    display:none;
    
    justify-content: center;
    top:0;
    left:0;

    width:100vw;
    height:100vh;

    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
    z-index: 5;
    -webkit-backdrop-filter: blur(8px);
    
}
.imgWagi {
    width: 155px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-box1{
    position:absolute;
    top:50%;  
    left:50%;
    width: 295px;  
    height: 205px;  
    
    text-align: center;

    background-color: #79809F;
    
    border-radius: 20px; 
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 

    transform:translate(-50%, -50%); 
    color: black;
}

.modal-content1 {
    width: 100%;
    height: 100%;
    margin-top: 51px;
}
.email {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 230px;
    height: 42px;
    border-radius: 20px;
    z-index: 10;
    background-color: rgb(255, 255, 255, 0.58);
}

.out_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 76%);
    width: 230px;
    height: 42px;
    border-radius: 20px;
    transition: all 1s;
    line-height: 42px;
    text-align: center;
    z-index:9;
    background-color: rgb(255, 255, 255, 0.58);
    opacity:0;
}

.out_text span{
    border: 0;
    font-size: 13px;
    width: 213px;
    height: 42px;
    outline: none;
    float: left;
    padding-left: 15px;
    margin: 0;
    text-align: left;
    border-radius: 20px;
    background-color:rgb(255, 255, 255, 0);
}

.out_text.on {
    transform: translate(-50%, 0);
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

.input_email{
    border: 0;
    font-size: 14px;
    width: 213px;
    height: 41px;
    outline: none;
    float: left;
    padding-left: 17px;
    margin: 0;
    text-align: left;
    border-radius: 20px;
    background-color:rgb(255, 255, 255, 0);
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 20px;
}

.up {
    position: relative;
    display: none;

    width: 350px;
    height: 55px;

    top: 62px;
    left: 72px;

    
    border-radius: 15px;
}

.up_message {
    position: relative;

    font-size: 17px;
    margin-top: auto;
    margin-left: 51px;
    line-height: 55px;
}

#close-modal {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
    outline: none;
    border: 0;
    background-color: white;
    font-weight: bold;
    border-radius: 7px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    color: black;
    padding: 0px;
}

.message {
    font-size: 17px;
    margin-bottom: 5px;
    
}
.message_2 {
    font-size: 12px;
    margin-top: 7px;
}

}
