*{ font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
.join-title {
    display: none;
}
input {
    color: black;
}

.info-box {
    position: absolute;
    width: 188px;
    height: 60px;
    top: 20%;
    left: 13%;
    background-color: #e0e0e0;
    border: 1px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-text {
    font-size: 23px;
    background-color: #9EA9D7;
    color: black;
    font-weight: 600;
}

.input-box {
    position: absolute;
    width: 74%;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    border: 1px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: white;
    
}

.input-container {
    margin-top: 10px;
    width: 98%;
    box-sizing: border-box;
}


input, textarea {
    width: calc(100% - 10px);
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
}


label {
    display: inline-block;
    margin-bottom: 5px;
    background-color: white;
}


.basic-info {
    font-size: 21px;
    margin-bottom: 10px;
    padding-left: 0; 
    margin-left: 0; 
    background-color: white;
    color: black;
    position: absolute;
    left: 3%;
    font-weight: 500;
}


.confirm-button {
    position: absolute;
    width: 375px;
    height: 65px;
    top: 734px;
    left: 700px;
    border: 1.5px solid #999898;
    border-radius: 20px;
    background-color: hsl(0, 0%, 60%);
    color: #ffffff;
    cursor: pointer;
}


.warning-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.enter{
  width: 375px;
  height: 65px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 500%);
  border-radius: 20px;
  background-color:  #9EA9D7;
  cursor: pointer;
  border-style: none;
  font-size: 23px;
  font-weight: 600;

}

.confirm-button {
    position: absolute;
    width: 115px;
    height: 40px;
    top: 480px;
    left: 1260px;
    border: 1.5px solid #999898;
    border-radius: 20px;
    background-color: #999898;
    background-color: white;
    color: black;  
    cursor: pointer;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border-bottom-width 0.3s ease-out;
}
#filePreview{
    display: flex;
    margin-top: 10px;
}
.img_icon{
    display: inline;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-right: 10px;
}
.selectedFileName{
    display: inline;
    font-style: italic;
    font-size: 15px;
}
#addFileLabel{
    color: #999898;
    border: 1px solid #999898;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
}

/* ========== */

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
}

label {
    transition: 0.3s;
    font-size: 19px;
    color: #333;
    transform: translateY(14px);
    
   
}

input {
    font-size: 16px;
    padding: 5px;
    margin-top: 1px;
    border: none;
    border-bottom: 1px solid #333;
    transition: 0.3s;
  
}

input:focus {
    outline: none;
    border-bottom: 2px solid #000;
}

.warning-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


  .input-error {
    background-color: #FFB6C1; 
    color: red;
}

.input-error label,
.input-error .warning-message {
    color: red;
}



.warning-message{
    background-color: white;
}
#name{
    background-color: white;
}
#studentID{
    background-color: white;
}
#department{
    background-color: white;
}
#phoneNumber{
    background-color: white;
}
#id_user_file{
    display: none;
}



@media (max-width : 450px) {
    #page-wrapper {
        display: none;
        /*basic.html 로직 때문에 밑에 빈칸 생기는거 없앰*/
    }
    #page-wrapper1 {
        height: 120vh;
    }
    .join-title {
        display: block;
        align-self: flex-start;
        margin: 20px;
        top:0;
    }
    .star{
        margin-top: 6px;
        margin-right: 5px;
        width: 18px;
        height: 18px;
        float: left;
    }
    .title1{
        display: inline;
        font-size: 20px;
    }
    #main-section1 {
        margin-top: 50px;
        width: 100vw;
   
    }
    #form_box {
        display: block;
    }
    input {
        color: black;
    }
    
    .info-box {
        display: none;
    }
    
    .info-text {
        font-size: 14px;
        background-color: #9EA9D7;
        color: black;
    }
    
    .input-box {
        width: 90vw;
        height: 470px;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        background-color: white;
        top: 150px;
        transform: translate(-50%, 0);
    }
    
    .input-container {
        margin-top: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    
    
    input, textarea {
        width: calc(100% - 10px);
        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 10px;
    }
    
    
    label {
        display: inline-block;
        margin-bottom: 5px;
        background-color: white;
    
    }
    
    
    .basic-info {
        margin: 7px;
        margin-top: 0;
        background-color: white;
        color: black;
        align-self: flex-start;
        font-weight: 550;
        font-size: 20px;
        
    }
    
    .required-text {
        font-size: 14px;
        padding: 3px;
        font-weight: 400;
        color: red;
        background-color: white;
    }
    
    .confirm-button {
        position: absolute;
        width: 375px;
        height: 65px;
        top: 734px;
        left: 700px;
        border: 1.5px solid #999898;
        border-radius: 20px;
        background-color: hsl(0, 0%, 60%);
        color: #ffffff;
        cursor: pointer;
    }
    
    
    .warning-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }
    
    
    .enter{
      width: 65vw;
      height: 43px;
      border: none;
      transform: translate(-50%, 0);
      top: 635px;
      border-radius: 20px;
      background-color: white;
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
      color: black;
    
    }
    .enter:hover {
        background-color: #9EA9D7;
    }
    
    .confirm-button {
        position: absolute;
        width: 115px;
        height: 40px;
        top: 480px;
        left: 1260px;
        border: 1.5px solid #999898;
        border-radius: 20px;
        background-color: #999898;
        background-color: white;
        color: black;  
        cursor: pointer;
        text-align: center;
    }
    
    input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        transition: border-bottom-width 0.3s ease-out;
    }
  
    
    
    /* ========== */
    
    .input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        background-color: white;
    }
    
    label {
        transition: 0.3s;
        font-size: 16px;
        color: #333;
        transform: translateY(14px);
        
       
    }
    
    input {
        font-size: 15px;
        padding: 5px;
        margin-top: 1px;
        border: none;
        border-bottom: 1px solid #333;
        transition: 0.3s;
      
    }
    
    input:focus {
        outline: none;
        border-bottom: 2px solid #000;
    }
    
    .warning-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
    }
    
      /* 추가된 스타일 */
      .input-error {
        background-color: #FFB6C1; /* 빨간 배경색 */
        color: red;
    }
    
    .input-error label,
    .input-error .warning-message {
        color: red;
    }
    
    .selectedFileName{
        font-size: 15px;
    }
    
    .warning-message{
        background-color: white;
    }
    #name{
        background-color: white;
    }
    #studentID{
        background-color: white;
    }
    #department{
        background-color: white;
    }
    #phoneNumber{
        background-color: white;
    }
}