@media(max-width: 450px){
    * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
    body{
        background-color: black;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    } 
    .makers{
        height: 2500px;
        color: white;
        align-items: center;
        text-align: center;

    }
    
  
    .title{
        height: 50px;
        margin-top: 5%;
        }
    .star{
        display: inline;
        float: left; 
        margin-top: 12px;
        margin-left: 5%;
        margin-right: 5px;   
    }
    .title_Makers{
        float: left;
        font-size: 17px;
        font-weight: 900;
        margin: 10px 5px;   
        
    }
    .bar{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 10px
    }
    .PM{
        font-size: 17px;
        margin-left: 5%;
        width: 200px;
        text-align: left;
        font-weight: 500;
    }
    .people_card{
        width: 40%;
        height: 60%;
        margin-bottom: 5%;
        overflow: hidden;
        display: inline; 
    }
    .PM > .people_card{
        display: block; 
    }
    
    .photo{
        margin-bottom: 0;
        width: 100%;
        border-radius: 15px 15px 0 0;
    }
    .profile{
        background-color: white;
        color: black;
        height: 94px;  
        margin-top: -5px;
        border-radius: 0 0 15px 15px;
        border-color: none;
        
    }
    .name, .major, .part{
        margin: 0px 10px;
        text-align: left;
    }
    .name{
        font-size: 15px;
        font-weight: 900;
        line-height: 15px;
    }
    .major{
        font-size: 8px;
        line-height: 20px;
        font-weight: 500;
    }
    .part{
        font-size: 10px;
        font-weight: 600;
    }
    .Front{
        font-size: 18px;
        margin-left: 5%;
        width: 200px;
        text-align: left;
        font-weight: 500;
        line-height: 80px;
    }
    .Back{
        font-size: 18px;
        margin-left: 5%;
        width: 200px;
        text-align: left;
        font-weight: 500;
        line-height: 80px;
    }
    .memoji{
        background-color: white;
    }
    .margin{
        content: " ";
        width: 80%;
        height: 10px;
        float: inline-start;
        margin: 8% 0;
    }
    .section_1 .people_card{
        margin-left: 6%; float: left;}

    .section_2 .people_card:nth-child(2n+1){
        float:inline-start;  
        margin-left: 7%;}

    .section_3 .people_card:nth-child(2n+1){
        float:inline-start;
         margin-left: 7%;}

    .section_2 .people_card:nth-child(2n){ 
        float: inline-end;
        margin-right: 7%;}

    .section_3 .people_card:nth-child(2n){ 
        float: inline-end;
        margin-right: 7%;
    }
    #bluestar{
        width: 10px;

        margin-left: 4px;
       
    }
    
        
}
@media(min-width: 450px){
    .makers *{
        display: none;
    }

}

