#notices {
    position: fixed;
    top: 167px;
    left: 57px;
    width: 121px;
    height: 44px;
    border-radius: 20px;
    background-color: #9EA9D7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#writings {
    position: fixed;
    top: 167px;
    left: 206px;
    width: 91px;
    height: 44px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 0.7px solid white;
}

#writings span {
    font-size: 16.2px; 
}


#allContent{
    position: fixed; 
    width: 1014px;
    height: 475px;
    top: 292px;
    left: 133px;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px; 
}

#main-navigation {
    display: flex;
    gap: 20px;
}

#main-navigation .menu-item {
    list-style: none;
}

#regularActivity{
    position: fixed;
    top: 224px;
    left: 163px;
    width: 102px;
    height: 39px;
    border-radius: 20px;
    border: 0.7px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

#event {
    position: fixed; 
    top: 224px;
    left: 282px;
    width: 102px;
    height: 39px;
    border-radius: 20px;
    border: 0.7px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

#competition {
    position: fixed;
    top: 224px;
    left: 401px;
    width: 102px;
    height: 39px;
    border-radius: 20px;
    border: 0.7px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

#regularActivity {
    margin-left: 20px; 
}

#event {
    margin-left: 20px;
}

#competition {
    margin-left: 20px; 
}

#regularActivityContent,
#eventContent,
#competitionContent {
    position: fixed; 
    width: 1014px;
    height: 475px;
    top: 292px;
    left: 133px;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-footer div {
    display: flex;
    gap: 20px;
}

.selected {
    background-color: gray !important;
    color:black !important;
}

.content {
    display: none;
    position: absolute;
    top: 292px;
    left: 133px;
    width: 1014px;
    height: 475px;
    border-radius: 20px;
    background-color: white;
}