{% extends 'basic.html' %}
{% load static %}

    {% block content %}
    <!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Notice_manager_record.css' %}">
    </head>
    <body>
    <a  href="{% url 'notice:notice_list' %}"><div id="notices" class="notice"><span>공지사항</span></div>
        {% if user.is_superuser %}
        <a href="{% url 'notice:notice_create' %}"><div id="writings" class="writing">글 작성</div></a>
        {% endif %}
<div id="realContent">
    <div id="Notice_title">
        <img id="star" src="{% static 'img/people/star.png'%}" >
        <h1 id="title">Notice</h1>
    </div>
    <form action="{% url 'notice:edit_notice' notion_id=notice.id %}" method="GET">
        {% csrf_token %}
        <div id="regularActivity" class="round-button" name="regularActivity">정기활동</div>
        <div id="event" class="round-button" name="event" >행사</div>
        <div id="competition" class="round-button" name="competition">공모전</div>
        <input type="hidden" id="selectedCategory" name="selectedCategory" value="{{ notice.category }}">
        <!---->
                <span class="category">{{ notice.category }}</span>
         <!--1/24 모바일버전 카테고리 표시때문에 불러옴-->
        <div id="writingZone">
            <textarea id="titleWriting" name="notion_title" rows="4" cols="50" readonly>{{ notice.notion_title }}</textarea>
            <li id="firstLine"></li>
            <li id="secondLine"></li>
            <!---->
            <div id="contentsWriting" name="message2">
                <textarea name="notion_text" readonly>{{ notice.notion_text }}</textarea>
                {% if images %}
                    <div id="imageContainer"> <!-- 부모 요소 추가했음용가리 -->
                        <ul>
                            {% for image in images %}
                                <li><img src="{{ image.image.url }}" alt="Image" width="5%"></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if files %}
                <div id="fileContainer"> <!-- 부모 요소 추가했음용가리 -->
                    <ul>
                        {% for file in files %}
                        
                            <li><img id="file_star" src="{% static 'img/Vector.png'%}" ><a href="{{ file.file.url }}" download>{{ file.file.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
           {% endif %}
            </div>
            <!---->
        </div>
        {% if user.is_superuser %}
        <input type="submit" id="editButton" value="수정하기">
        {% endif %}
        <di id="datePart">
            <div id="date">작성일</div>
            <p id="realDate" >{{ notice.write_time }}</p>
        </div>
        
    </form>
</div>
</body>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/Notice_manager_record.js' %}"></script>
    {% endblock %}