{% extends "basic.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/activities.css' %}"> 
    <div id="activities_main" hidden></div><!--js 처리용 div-->
    <div id="success_page" hidden></div><!--js 처리용 div-->
    <div id="content"><!--헤더 밑-->
        <div id="button_area"><!--버튼 공간 (없음)-->
            <div id="delete_button_area">
                <button type="button" class="button" id="delete_button">
                    <a href ="/edit/">수정하기</a>
                </button>
            </div>
        </div> 
        <br>
        <br>
        <div id="button_area"><!--버튼 공간 (없음)-->
            <div id="upload_button_area">
                <button type="button" class="button" id="upload_button">
                    <a href ="/upload/">업로드 하기</a>
                </button>
            </div>
        </div>
        <div id="item_area"><!--버튼 밑-->    
            <div id="article"><!--모든 앨범-->
                <!-- MT -->
                <div class="item" id="mt">
                    <div class="album">
                        <div class="prev_button" id="mt_prev_button">&lt;</div>
                        <div class="next_button" id="mt_next_button">&gt;</div>
                        <div class="img_box">
                            {% if images %}
                                <div class="img_area"> 
                                    {% for image in images %}
                                        {% if image.mt_image %}
                                            <div id="mt_img_content" class="img_content size_original">
                                                <img src="{{ image.mt_image.url }}" alt="MT Image">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div id="mtModal" class="modal">
                                    <img class="modal-content" id="mtModalImage">
                                </div>
                            {% else %}
                                <p class="no-images">사진이 없습니다.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="album_name">MT</div>
                </div>
                <!-- Study -->
                <div class="item" id="study">
                    <div class="album">
                        <div class="prev_button" id="study_prev_button">&lt;</div>
                        <div class="next_button" id="study_next_button">&gt;</div>
                        <div class="img_box">
                            {% if images %}
                                <div class="img_area"> 
                                    {% for image in images %}
                                        {% if image.study_image %}
                                            <div id="study_img_content" class="img_content size_original">
                                                <img src="{{ image.study_image.url }}" alt="Study Image">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p class="no-images">사진이 없습니다.</p>
                            {% endif %}
                            <div id="studyModal" class="modal">
                                <img class="modal-content" id="studyModalImage">
                            </div>
                        </div>
                    </div>
                    <div class="album_name">Study</div>
                </div>
                <!-- Project -->
                <div class="item" id="project">
                    <div class="album">
                        <div class="prev_button" id="project_prev_button">&lt;</div>
                        <div class="next_button" id="project_next_button">&gt;</div>
                        <div class="img_box">
                            {% if images %}
                                <div class="img_area">     <!--image-grid랑 img_area랑 같게 해보기로 하자-->
                                    {% for image in images %}
                                        {% if image.project_image %}
                                            
                                                <div id="project_img_content" class="img_content size_original">
                                                    <img src="{{ image.project_image.url }}" alt="Project Image">
                                                </div>
                                            
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p class="no-images">사진이 없습니다.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="album_name">Project</div>
                </div>
            </div>    
        </div>
    </div>
    <script defer src="{% static 'js/activities.js' %}"></script>
{% endblock %}