.container {
    position: relative;
    width: 100%;
    max-width: 1006px;
    margin: 0 auto;
    margin-top: 130px;
}

.question-box, .answer-box {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    position: relative;
    color: #000;
}

.question-box {
    height: 50px;
    background-color: #9EA9D7;
    padding: 20px;
    box-sizing: border-box;
}

.answer-box {
    max-height: 152px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
   
}

.input-box {
    width: calc(100% - 20px);
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    color: black;
    
    overflow-y: auto;  /* 세로 스크롤을 추가 */
    max-height: 152px;  /* 내용의 최대 높이를 설정*/
    
    

}

.inputmodel {
    outline:none;
    width: calc(100% - 20px);
    box-sizing: border-box;
    border: none;
    overflow-y: auto;  /* 세로 스크롤을 추가 */
    max-height: 152px;  /* 내용의 최대 높이를 설정*/
}
.submit-button {
    width: 722px;
    height: 88px;
    top: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
   
    border-radius: 20px;
    background-color: #9EA9D7;
    color: #000;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    
    /* display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
    display: grid;
    place-content: center; */
   
}
.container2{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

/* .submit-text {
    width: 150px;
    height: 88px;
    font-family: 'Pretendard Variable', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35.8px;
    color: #000000;
    background-color: #9EA9D7;
    position: absolute;
    top: 1280px;
    left: 279px;
    border-radius: 20px;

} */

p{
    background-color: #9EA9D7;
    color: black;
}

.input-box {
    width: 100%;
    height: 50px; /* 초기 세로 높이를 원하는 값으로 설정 */
    box-sizing: border-box;
    resize: vertical; /* 사용자가 수직으로 조절할 수 있도록 설정 */
}

@media (max-width : 450px) {
    body {
        height: 100%;
        overflow: visible;
    }
    #page-wrapper {
        display: none;
        /*basic.html 로직 때문에 밑에 빈칸 생기는거 없앰*/
    }
    #page-wrapper1 {
        height: 120vh;
    }
    .join-title {
        display: block;
        align-self: flex-start;
        margin: 20px;
        top:0;
    }
    .star{
        margin-top: 6px;
        margin-right: 5px;
        width: 18px;
        height: 18px;
        float: left;
    }
    .title1{
        display: inline;
        font-size: 20px;
    }
    #main-section1 {
        margin-top: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        width: 100vw;
    }

    .container {
        position: relative;
        width: 90vw;
        margin: 50px auto 30px;
    }
    
    .question-box, .answer-box {
        width: 100%;
        box-sizing: border-box;
        border-radius: 20px;
        margin-top: 10px;
        position: relative;
        color: #000;
    }
    
    .question-box {
        height: 40px;
        line-height: 40px;
        background-color: #9EA9D7;
        padding: 0 15px;
        box-sizing: border-box;
        font-size: 10.5px;
        font-weight: 500;
        overflow: hidden;
    }
    
    .answer-box {
        max-height: 152px;
        overflow-y: auto;
        border: 1px solid #ccc;
        background-color: #FFFFFF;
        padding: 20px;
        margin-bottom: 30px;
        box-sizing: border-box;
        overflow: auto;
       
    }
    
    .input-box {
        width: calc(100% - 20px);
        box-sizing: border-box;
        border: none;
        border-radius: 20px;
        padding: 10px;
        margin-top: 10px;
        background-color: white;
        color: black;
        
        overflow-y: auto;  /* 세로 스크롤을 추가 */
        max-height: 152px;  /* 내용의 최대 높이를 설정*/
        
        
    
    }
    .inputmodel {
        outline:none;
        width: 100%;
        box-sizing: border-box;
        border: none;
        overflow-y: auto;  /* 세로 스크롤을 추가 */
        height: 103px;  /* 내용의 최대 높이를 설정*/
    }
    .submit-button {
        width: 65vw;
        height: 43px;
        position: relative;
        top: 0;
       
        border: none;
        border-radius: 20px;
        background-color: white;
        color: #000;
        cursor: pointer;
        display: block;
        font-size: 20px;
        font-weight: 500;
        margin: 50px 0;
        
        /* display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #000;
        display: grid;
        place-content: center; */
       
    }
    .submit-button:hover {
        background-color: #9EA9D7;
    }
    .container2{
        position: relative;
        width: 100vw;
        height: 100px;
        margin: 0 auto;
    }
    
    /* .submit-text {
        width: 150px;
        height: 88px;
        font-family: 'Pretendard Variable', sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 35.8px;
        color: #000000;
        background-color: #9EA9D7;
        position: absolute;
        top: 1280px;
        left: 279px;
        border-radius: 20px;
    
    } */
    
    p{
        background-color: #9EA9D7;
        color: black;
    }
    
    .input-box {
        width: 100%;
        height: 50px; /* 초기 세로 높이를 원하는 값으로 설정 */
        box-sizing: border-box;
        resize: vertical; /* 사용자가 수직으로 조절할 수 있도록 설정 */
    }
}