* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

#main-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}
.join-title {
    display: none;
}
#title {
    text-align: center;
    font-weight: 500;
    
}
#search {
    vertical-align: middle;
    display: table-cell;
    width: 580px;
    height: 55px;
    border-radius: 17px;
    background-color: rgb(255, 255, 255);
}
#input_studentNum {
    border: 0;
    font-size: 17px;
    width: 503px;
    height: 95%;
    outline: none;
    float: left;
    padding-left: 20px;
    text-align: left;
    border-radius: 15px;
}
#btn_studentNum {
    position: absolute;
    border: 0;
    width: 50px;
    height: 50px;
    float: right;
    outline: none;
    background-color: transparent;
}
#btn_studentNum img{
   display:block;
   width:100%;
   height:auto;
}
#btn_apply {
    vertical-align: middle;
    display: table-cell;
    width: 580px;
    height: 63px;
    border-radius: 17px;
    background-color: #9EA9D7;
    border: 0;
    outline: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    color: black;
}
.modal_unavailable{
    position:absolute;
    display:none;
    
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(8px);
}
.imgWagi {
    width: 230px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal_pass{
    position:absolute;
    display:none;
    
    justify-content: center;
    top:0;
    left:0;

    width:100vw;
    height:100vh;
    
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
}
.modal-box2{
    position:absolute;
    top:50%;  
    left:50%;
    width:500px;  
    height:350px;  
    
    text-align: center;

    background-color: #A9B5EA;
    
    border-radius: 20px; 
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 
    transform:translate(-50%, -50%); 
    color: black;
}
.modal-content2 {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 330px;
}
.interview_info {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgb(255, 255, 255, 0.58);
    border-radius: 20px;
    width: 330px;
    height: 173px;
}
#interview_message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    font-weight: 500;
}
.OT_info {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgb(255, 255, 255, 0.58);
    border-radius: 20px;
    width: 330px;
    height: 150px;
}
.modal_fail{
    position:absolute;
    display:none;
    
    justify-content: center;
    top:0;
    left:0;

    width:100vw;
    height:100vh;
    
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
}

.modal-box3{
    position:absolute;
    top:50%;  
    left:50%;
    width:430px;  
    height:250px;  
    
    text-align: center;

    background-color: #A9B5EA;
    
    border-radius: 20px; 
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 
    transform:translate(-50%, -50%); 
    color: black;
}
.modal-content3 {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 330px;
}
.failure_message {
    position: absolute;
    top:35%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgb(255, 255, 255, 0.58);
    border-radius: 20px;
    width: 250px;
    height: 100px;
}
.message, .message_2{
    margin: 15px;
}

@media (max-width : 450px) {
    #page-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 120vh;
    }
    #main-section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        width: 100vw;
    }
    .join-title {
        display: block;
        align-self: flex-start;
        margin: 20px;
    }
    .star{
        margin-top: 6px;
        margin-right: 5px;
        width: 18px;
        height: 18px;
        float: left;
    }
    .title1{
        display: inline;
        font-size: 20px;
    }
    #title {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        
    }
    #result_box {
        margin-left: 7.5vw;
    }
    #search {
        vertical-align: middle;
        display: table-cell;
        width: 85vw;
        height: 55px;
        border-radius: 17px;
        background-color: rgb(255, 255, 255);
    }
    #input_studentNum {
        border: 0;
        font-size: 17px;
        width: 66vw;
        height: 95%;
        outline: none;
        float: left;
        padding-left: 20px;
        text-align: left;
        border-radius: 15px;
    }
    #btn_studentNum {
        border: 0;
        width: 50px;
        height: 50px;
        outline: none;
        background-color: transparent;
    }
    #btn_studentNum img{
       display:block;
       width:100%;
       height:auto;
    }
    #btn_apply {
        vertical-align: middle;
        display: table-cell;
        width: 85vw;
        height: 60px;
        border-radius: 20px;
        background-color: #9EA9D7;
        border: 0;
        outline: none;
        font-weight: bold;
        font-size: 18px;
        margin-top: 10px;
        margin-left: 7.5vw;
    }
    .imgWagi {
        width: 155px;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .modal_pass{
        position:absolute;
        display:none;
        
        justify-content: center;
        top:0;
        left:0;
    
        width:100vw;
        height:100vh;
        
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(8px);
    }
    .modal-box2{
        position:absolute;
        top:50%;  
        left:50%;
        width:295px;  
        height:260px;  
        
        text-align: center;
    
        background-color: #A9B5EA;
        
        border-radius: 20px; 
        box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 
        transform:translate(-50%, -50%); 
        color: black;
    }
    .modal-content2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 295px;
        height: 260px;

    }
    .modal-content2 .message:nth-child(1) {
        font-size: 17px;
        margin-bottom: 5px;
        margin-top: 47px;
    }
    .modal-content2 .message:nth-child(2) {
        font-size: 13px;
        margin-top: 5px;
    }
    .interview_info {
        position: absolute;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        background-color: rgb(255, 255, 255, 0.58);
        border-radius: 20px;
        width: 245px;
        height: 132px;
        font-size: 14px;
    }
    .OT_message h4 {
        margin: 5px;
    }
    #interview_message {
        font-size: 12px;
        font-weight: 500;
    }
    .OT_info {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        background-color: rgb(255, 255, 255, 0.58);
        border-radius: 20px;
        width: 245px;
        height: 123px;
        font-size: 14px;
    }
    .modal_fail{
        position:absolute;
        display:none;
        
        justify-content: center;
        top:0;
        left:0;
    
        width:100vw;
        height:100vh;
        
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(8px);
    }
    
    .modal-box3{
        position:absolute;
        top:50%;  
        left:50%;
        width:295px;  
        height:200px;  
        
        text-align: center;
    
        background-color: #A9B5EA;
        
        border-radius: 20px; 
        box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 
        transform:translate(-50%, -50%); 
        color: black;
    }
    .modal-content3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 295px;
        height: 200px;
    }
    .failure_message {
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        background-color: rgb(255, 255, 255, 0.58);
        border-radius: 20px;
        width: 224px;
        height: 90px;
        font-size: 13px;
    }
    .modal-content3 .message{
        font-size: 17px;
        margin: 48px;
    } 

}