@media (min-width: 451px){
    *{ font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
    
    #Notice_title{
        display:none;
    }
    
    #parentContainer {
        position: relative;
    }
    
    #regularActivity, #event, #competition, #allContent, #regularActivityContent, #eventContent, #competitionContent, .content {
        position: absolute;
    }
    
    #notice {
    
        margin-left: 130px;
    
        margin-top: 40px;
        top: 202px;
        left: 57px;
        width: 120px;
        height: 44px;
        line-height : 40px;
        border-radius: 20px;
        background-color: #9EA9D7;
        display: inline-block;
        text-align: center;
        color: black;
    }
    #writings {
        position: relative;
        margin-left: 20px;
        width: 91px;
        height: 43px;
        line-height : 40px;
        border-radius: 20px;
        background-color: white;
        display: inline-block;
        text-align: center;
        color: black;
        border: 0.7px solid white;
    }
    
    
    #regularActivity {
        top: 250px;
        left: 163px;
        width: 102px;
        height: 39px;
        border-radius: 20px;
        border: 0.7px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: black;
    }
    
    #event {
        top: 250px;
        left: 282px;
        width: 102px;
        height: 39px;
        border-radius: 20px;
        border: 0.7px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: black;
    }
    
    #competition {
        top: 250px;
        left: 401px;
        width: 102px;
        height: 39px;
        border-radius: 20px;
        border: 0.7px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: black;
    }
    
    #allContent {
        width: 80%;
        height: 475px;
        top: 327px;
        left: 133px;
        border-radius: 20px;
        background-color: white;
        margin-top: 20px; 
        overflow-y: hidden;
        overflow-x: hidden;
    }
    #realContent{
        margin-bottom: 50px;
    }
    .box{
        color: black;
        position: absolute;
        margin-top: 10px;
    }
    
    .box a {
        
        text-decoration: none; 
        background-color: transparent; 
        display: inline;
    }
    
    .category {
        color: #9EA9D7;
        width: 90px;
        padding: 2px;
        border: 0.8px solid #9EA9D7;
        text-align: center;
    }
    /*글자 안보이는거 해결용!*/
    .notitle{
        color: black;
        width: 500px;
        
        
    }
    
    .notice-title {
        left: 350px;
        position: absolute;
        width: 500px;
        
    }
    
    
    #allContent ul li {
        margin-bottom: 56px;
        margin-left: 30px;
        position: relative;
        left: 35px;
    }
    
    #allContent ul li::after {
        content: "";
        position: absolute;
        width: 95%;
        top: 69px; 
        left: 44%; 
        transform: translateX(-50%); 
        border: 1.2px solid #000000;
    }
    
    #regularActivityContent, #eventContent, #competitionContent {
        width: 1014px;
        height: 475px;
        top: 327px;
        left: 133px;
        border-radius: 20px;
        background-color: white;
        margin-top: 20px; 
    
    }
    .tbl {
        width: calc(100% - 80px);
        color: black; 
        margin: 20px 40px;
        text-align: left;
        border-collapse: collapse;
      }
      th, td {   /*열 간격 조정*/
          padding: 20px;
          border-bottom: 1.5px solid black;
          text-align: left;
      }
    
    .selected {
        background-color: gray;
        color: black;
    }
    
    .content {
        display: none;
        position: absolute;
        top: 297px;
        left: 133px;
        width: 1014px;
        height: 475px;
        border-radius: 20px;
        background-color: white;
    }
    
    #allContent {
        display: block; 
    }
    
    
    #writings span {
        font-size: 16.2px; 
    
       
    }

    #page{
        display: none;
    }
    
    }
    
    @media (max-width: 450px){
    *{ font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
    
        #Notice_title{
            margin-top: 5%;
            margin-left: 20px;
        }
    
        #star{
            margin-top: 6px;
            margin-right: 5px;
            width: 18px;
            height: 18px;
            float: left;
        }
    
        #title{
            display: inline;
            font-size:20px;
        }
    
        #parentContainer {
            position: relative;
        }
        
        #regularActivity, #event, #competition, #allContent, #regularActivityContent, #eventContent, #competitionContent, .content {
            position: absolute;
        }
        
        #notice {
            display:none;
        }
        
        #writings {
            display: none;
        }
        
        #regularActivity {
            top: 140px;
            left: 43px;
            width: 71px;
            height: 23px;
            border-radius: 20px;
            border: 0.7px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: black;
        }
        
        #event {
            top: 140px;
            left: 132px;
            width: 71px;
            height: 23px;
            border-radius: 20px;
            border: 0.7px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: black;
        }
        
        #competition {
            top: 140px;
            left: 221px;
            width: 71px;
            height: 23px;
            border-radius: 20px;
            border: 0.7px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: black;
        }
        
        #allContent {
            width: 90%;
            height: 520px;
            top: 170px;
            left: 21px;
            border-radius: 20px;
            background-color: white;
            margin-top: 20px; 
            overflow-y: hidden;
            overflow-x: hidden;
        }
        /*#realContent{
            margin-bottom: 50px;
        }*/
        .DList {
            width: 100%;
        }
        .tbl {
            width: calc(100% - 40px);
            height: 90%;
            color: black; 
            margin: 10px 20px;
            text-align: left;
            border-collapse: collapse;
            font-size: 13px;
          }
          th, td {   /*열 간격 조정*/
              padding: 15px 5px 15px 13px;
              border-bottom: 1px solid black;
              text-align: left;
          }
    
          .category {
            color: #9EA9D7;
            width: 50px;
            padding: 2px;
            border: 0.8px solid #9EA9D7;
            text-align: center;
        }
        .overflow {
            max-width: 162px;
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
        }
        .box{
            color: black;
            position: absolute;
            font-size:1%;

        }
        
        .box a {
            text-decoration: none; 
            background-color: transparent; 
            display: inline-block;
        }
        
        /*글자 안보이는거 해결용!*/
        .notitle{
            color: black;
            text-align: left;
            display: inline-block; /* 또는 display: block; */
            max-width: 165px; /* 허용할 최대 너비 설정 */
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
        }
        
        .notice-title {
            position: relative;
            width: 165px;
            height: 12px;
            margin-left: 20px;
        }
        

        #allContent ul{
            padding: 0 20px;
            margin: 6px 0;
        }
        
        
        html[xmlns*=""] body:last-child #allContent ul li {
            padding: 12px 0 5px 10px;
            position: sticky;
            border-bottom: 1px solid #000;
            box-sizing: border-box;
        }
        
        #allContent ul li {
            padding: 12px 0 5px 10px;
            position: sticky;
            border-bottom: 1px solid #000;
            box-sizing: border-box;
        }
        
        
        
        #regularActivityContent, #eventContent, #competitionContent {
            width: 1014px;
            height: 475px;
            top: 327px;
            left: 133px;
            border-radius: 20px;
            background-color: white;
            margin-top: 20px; 
        
        }
        
        
        .selected {
            background-color: gray;
            color: black;
        }
        
        .content {
            display: none;
            position: absolute;
            top: 297px;
            left: 133px;
            width: 1014px;
            height: 475px;
            border-radius: 20px;
            background-color: white;
        }
        
        #allContent {
            display: block; 
        }
        
        
        #writings span {
            font-size: 16.2px; 
        }

        #page{
            position: absolute;
            width: 100%;
            bottom: 12px;
            align-items: center;
            display: inline-flex;
            flex-direction: column;


        }
        
         #page ul li {
            border-bottom: none;
        }
        #page-wrapper {
            height: 100vh;
            /*basic 오류 때문에... */
        }
        }