{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="https:////spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    
    <script src="{% static 'js/home.js' %}"></script>
    
    <section id="section1">
        <div class ="context_1">
            함께 알아가고, 배워가는   <br>
            누구나 성장할 수 있는  기회
        </div>

        <div class="image-container">
            <!-- 이미지는 여기에서 나타납니다. -->
            <div class="fixed-image heart">
                 <img src="{% static 'img/하트.png' %}" alt="Icon 4" >
            </div>
            <div class="fixed-image thumbs" >
                 <img src="{% static 'img/엄지.png' %}" alt="Icon 4" >
            </div>
            <div class="fixed-image cloud" >
                 <img src="{% static 'img/구름.png' %}" alt="Icon 4">
            </div>
            <div class="fixed-image book" >
                <img src="{% static 'img/책.png' %}" alt="Icon 4" width=>
            </div>
        </div>

        <div class ="context_2" style="font-size: 45px;">
            함께 알아가고, 배워가는   <br>
            누구나 성장할 수 있는  기회
        </div>
        
        
    </div>
    </section>

    <section id="section2">
        <div class="top-box">
            <div class="box1">
            
                <div class="move-img">
                    <img src="{% static 'img/책.png' %}" alt="Icon 1" >
                </div>
                
                <div class="text1">
                    <div id ="p1">같이 배우고 성장해요.</div>
                    <div id="p">C++, 자료구조 등의 컴공 과목 스터디로 성장하는 우리</div>
                </div>
            </div>
            
            <div class="box2">
                <div class="move-img1">
                    <img src="{% static 'img/구름.png' %}" alt="Icon 2" >
                </div>
                <div class="text2">
                    <div id="s1">우리가 만들어요</div>
                    <div id="p1">팀프로젝트 활동을 통해<br> 직접 만들어가는</div>
                    <div id="p1">
                        우리의 꿈
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-box">
            <div class="box3">
                <div class="move-img2">
                    <img src="{%static 'img/엄지.png'%}" alt="Icon 4" >
                </div>
                <div class="text3">
                    <div class = "text3_title">말하고, &nbsp; 듣고 <br> 경험하며 &nbsp; 알아가요 <br></div>
                    <div id="s2" >말하고,</div>
                    <div id="s2" >듣고,</div>
                    <div id="s2" >경험하며</div>
                    <div id="s2" >알아가요</div>
                    <div id="p">
                        ICBMA, 알유컴공 활동을 통해
                    </div>
                    <div id="p1">
                        생생하게 알게되는 지식들
                    </div>


                </div>
                    
                    
            
            </div>
            
            <div class="box4">
                <div class="move-img3">
                    <img src="{%static 'img/하트.png' %}"alt="Icon 3" width="220px">
                </div>
                <div class="text4">
                    <div id="s3" >우리 친해져요</div>
                    
                    <div id="p" >
                        MT와 번개 모임을 통해<br>소통하고
                    </div>
                    <div id="p1" >
                        즐기는 모두
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="section3">
        <h1 id="news" >WAGI NEWS <br> </h1>
        <div class="news_back">
            <div id="instagram1">
            
                <a href="https://www.instagram.com/p/CsyNHw_rMKe/?igshid=ZDE1MWVjZGVmZQ==" target="_blank"  >
                    <img src="{%static 'img/insta1.png'%}" alt="이미지1 설명"  >
                </a>
                <div id="p1">
                    What is Copilot?
                    
                </div>
                <div id="p2">우리의 칭긔칭긔, 코파일럿에 대해 알아보아요!</div>  
            </div>
            <div id="instagram2">
                <a href="https://www.instagram.com/p/Ct_hlxQLJnS/?igshid=ZDE1MWVjZGVmZQ==" target="_blank">
                    <img src="{%static 'img/insta2.png'%}" alt="이미지2 설명" >
                </a>
                <div id="p1" >
                    What is FinTech?
                </div>
                <div id="p2">핀테크는 무엇일까? 핀테크에 대해 살펴보아요!</div>  
            </div>
            <div id="instagram3">
                <a href="https://www.instagram.com/p/CvWisC6r-Yl/?igshid=ZDE1MWVjZGVmZQ==" target="_blank">
                    <img src="{%static 'img/insta3.png'%}" alt="이미지3 설명"  >
                </a>
                </a>
                <div id="p1">
                    What is AIOT?<br>    
                    
                </div>
                <div id="p2">인공지능과 사물인터넷이 융합된 AIOT!</div>
                
            </div>
            
        </div>
        <div class = "instalink">
            <a href="https://www.instagram.com/sswu_wagi?igsh=bzAwYjJqenVqY2c2">WAGINEWS &nbsp;더&nbsp; 보러가기</a>
        </div>
    </section>

    
{% endblock %}
