{% extends 'basic.html' %}
{% load static %}
    {% block content %}
        <link rel="stylesheet" href="https:////spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
            <div class="login-container">
                <!-- 로그인 컨테이너 -->
                <form action="{% url 'login:login' %}" method="POST">
                {% csrf_token %}
                        
                    <div class="login-message">관리자모드를 이용하려면 로그인을 해주세요 🤩</div>

                    <!-- 아이디 입력 -->
                    <div class="id-button" style="top: 125px; left: 150px;">아이디</div>
                    <input name="username" type="text" class="placeholder" placeholder="아이디를 입력해주세요." style="position: absolute; top: 175px; left: 150px;">

                    <div class="password-button" style="top: 245px; left: 150px;" >비밀번호</div>
                    <input name="password" type="password" class="placeholder" placeholder="비밀번호를 입력해주세요." style="position: absolute; top: 295px; left: 150px;">

                    <div class="in-button">
                        <button style="top: 385px; left: 330px;"><a href="{% url 'login:home' %}">이전으로</a></button>
                    </div>

                    <!-- 로그인 버튼 -->
                    <div class="in-button">
                        <button type="submit" style="top: 385px; left: 453px;">로그인</button>
                    </div>
                
                </form>
            </div>
    {% endblock %}
