{% extends 'basic.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

    <div class="page-wrapper1">
        <div class="join-title">
            <img class="star" src="{% static 'img/people/star.png' %}">
            <h1 class="title1">join</h1>
        </div>
        <div class="main-section1">
            <form method="post" action="{% url 'application:form' %}">
                {% csrf_token %}
        
                <div class="container">
                    <div class="question-box">
                        <p style="margin: 0;">1. 자기소개를 해주세요. (500자 내외)</p>
                    </div>
                    <div class="answer-box">
                        {{ form.introduction|default_if_none:'' }}
                    </div>
                
                    <div class="question-box">
                        <p style="margin: 0;">2. 지원동기를 작성해주세요. (500자 내외)</p>
                    </div>
                    <div class="answer-box">
                        {{ form.motivation|default_if_none:'' }}
                    </div>
                
                    <div class="question-box">
                        <p style="margin: 0;">3. 프로젝트 관련 경험이 있다면 작성해주세요. (800자 내외)</p>
                    </div>
                    <div class="answer-box">
                        {{ form.project_experience|default_if_none:'' }}
                    </div>
                
                    <div class="question-box">
                        <p style="margin: 0;">4. 개발과 관련한 공부를 한 경험이 있다면 작성해주세요. (700자 내외)</p>
                    </div>
                    <div class="answer-box">
                        {{ form.study_experience|default_if_none:'' }}
                    </div>
                
                </div>
        
                <div class="container2">
                    <a href="{% url 'application:join_success' %}">
                        <button type="submit" class="submit-button">지원서 제출</button>
                    </a>
                </div>
            </form>
        
        </div>
    </div>
{% endblock %}