{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <!--css-->
    <link rel="stylesheet" href="{% static 'css/join_success.css' %}" />
    <link rel="stylesheet" href="https:////spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css">

    <div id="page-wrapper">
        <div class="join-title">
            <img class="star" src="{% static 'img/people/star.png' %}">
            <h1 class="title1">join</h1>
        </div>
        <div id="content">
            <div class="modal-box">
                <img class="imgWagi" src="{% static 'img/WAGI character.png' %}">
                <div id="underline"></div>
                <div class="modal-content">
                    <h2 class="message">{{name}}님!</h2>
                    <h2 class="message">지원이 완료되었습니다.<br>1차 합격자 조회 기간은<br>3월 9일 18:00 - 3월 10일 18:00 입니다. </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}